In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sms

In [ ]:
df=pd.read_csv('Titanic-Dataset.csv')
original_df=df.copy()
df

In [ ]:
df.info()

In [ ]:
#categorical columns
cat_col=[col for col in df.columns if df[col].dtype=='object']
print('Categorical Columns:',cat_col)

#Numerical Columns
num_col=[col for col in df.columns if df[col].dtype!='object']
print('Numerical Columns:',num_col)

In [ ]:
#prints total number of unique values 

df[cat_col].nunique()

In [ ]:
df.duplicated()

In [ ]:
df_clean=df.drop(columns=['Name','Ticket','Cabin','PassengerId'])
df_clean

In [ ]:
# print(df.isnull()) or print(df.isna())
# print(df.notnull())
# print(df.info())
# print(df.isnull().any())
# print(df.isnull().sum())
# print(df.isnull().sum().sum())

In [ ]:
round((df.isnull().sum()/df.shape[0])*100,2)

In [ ]:
# #remove rows
# df_dropna_rows=df.dropna(inplace=True)

# df.shape

In [ ]:
# #remove columns
# df_dropna_cols=df.dropna(axis=1,inplace=True)
# df.shape

In [ ]:
from sklearn.impute import SimpleImputer

df_mean_impute=df.copy()
mean_imputer=SimpleImputer(strategy='mean')
df_mean_impute['Age']=mean_imputer.fit_transform(df_mean_impute[['Age']])

df_mean_impute['Age'].isnull().sum()

In [ ]:
from sklearn.impute import SimpleImputer


df_impute=df.copy()
mode_imputer=SimpleImputer(strategy='mst_frequent')
df_impute[['Embarked']]=mode_imputer.fit_transform(df_impute[['Embarked']])

df_impute[['Embarked']].isnull().sum()

In [121]:
df_fill=df.copy()
df_fill.fillna(method='ffill',inplace=True)

df_fill.isnull().sum()

C:\Users\Sai Sidhartha Padhy\AppData\Local\Temp\ipykernel_7496\1491441403.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill.fillna(method='ffill',inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       0
dtype: int64

In [124]:
df_bfill=df.copy()
df_bfill.fillna(method='bfill',inplace=True)

df_bfill.isnull().sum()

C:\Users\Sai Sidhartha Padhy\AppData\Local\Temp\ipykernel_7496\811326936.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill.fillna(method='bfill',inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       0
dtype: int64

In [126]:
#Fill with custom value

df_custom=df.copy()
df_custom['Cabin'].fillna('Unknown',inplace=True)

df_custom['Cabin'].isnull().sum()

C:\Users\Sai Sidhartha Padhy\AppData\Local\Temp\ipykernel_7496\3918370158.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_custom['Cabin'].fillna('Unknown',inplace=True)

np.int64(0)