In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])

print(s1)

In [ ]:

import numpy as np


arr=np.array([1,2,3,4,5])

s2=pd.Series(arr)

s2

In [ ]:
std_mark_series=pd.Series(
    np.array([467,265,234,566,456]),
    index=['A1','A2','A3','A4','A5']
)

std_mark_series

In [ ]:
age_series_index=pd.Series(
    np.array([20,37,45,25,76,55]),
    index=np.arange(0,12,2)
)

age_series_index

In [ ]:
expense_dict={'rent':2500,'grocery':3000,
              'travelling':2000,'insurance':5000}

expense_series=pd.Series(expense_dict)

expense_series

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series.index

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series.values

In [ ]:
std_data=np.array(['Ram','Sita','Laxmi','Krishna','Arjun','Madhab'])

std_data_series=pd.Series(std_data)

print(std_data_series[:5])

In [ ]:
std_data=np.array(['Ram','Sita','Laxmi','Krishna','Arjun','Madhab'])

std_data_series=pd.Series(std_data)

print(std_data_series[-5:])

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

print(classes_series)

print("\n", classes_series['A'])

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

print(classes_series)

print("\n", classes_series[['A','B']])

In [ ]:
student_series=pd.Series(

    np.array([457,456,540,348,502,480]),
    index=['Ram','Sita','Laxmi','Krishna','Madhab','Arjun'])


student_series[student_series>500]

In [5]:
series1=pd.Series([10,20,30,40,50])

series2=pd.Series([2,4,6,8,10])

result=series1-series2

print(result)

0     8
1    16
2    24
3    32
4    40
dtype: int64

In [ ]:
sales_series=pd.Series(np.array([200,590,367,678,455]))

sales_series*2

In [ ]:
student_scores=pd.Series([88,92,75,91,85],
                         index=['Alice','Bob','Charlie','David','Eva'])

student_ranks=student_scores.rank()

print("\nStudent Ranks:\n",student_ranks)

In [3]:
import pandas as pd
import numpy as np

sales_data = pd.Series(
    [250, np.nan, 175, 300, np.nan, 220],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
)

sorted_sales = sales_data.sort_values(ascending=False ,na_position='last')

print("\n Sorted Sales Data (NaNs last):\n", sorted_sales)

 Sorted Sales Data (NaNs last):
 Apr    300.0
Jan    250.0
Jun    220.0
Mar    175.0
Feb      NaN
May      NaN
dtype: float64

In [ ]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                     index=[7,4,3,2,8,9])

sorted_sales=sales_data.sort_index(ascending=True)

print("\nSorted Sales Data(NaNs Last):\n",sorted_sales)

In [7]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                      index=[7,4,3,2,8,9])

sales_data.isnull()

7    False
4     True
3    False
2    False
8     True
9    False
dtype: bool

In [8]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                      index=[7,4,3,2,8,9])

sales_data.notnull()

7     True
4    False
3     True
2     True
8    False
9     True
dtype: bool