In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])

print(s1)

In [ ]:

import numpy as np


arr=np.array([1,2,3,4,5])

s2=pd.Series(arr)

s2

In [ ]:
std_mark_series=pd.Series(
    np.array([467,265,234,566,456]),
    index=['A1','A2','A3','A4','A5']
)

std_mark_series

In [ ]:
age_series_index=pd.Series(
    np.array([20,37,45,25,76,55]),
    index=np.arange(0,12,2)
)

age_series_index

In [ ]:
expense_dict={'rent':2500,'grocery':3000,
              'travelling':2000,'insurance':5000}

expense_series=pd.Series(expense_dict)

expense_series

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series.index

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

classes_series.values

In [ ]:
std_data=np.array(['Ram','Sita','Laxmi','Krishna','Arjun','Madhab'])

std_data_series=pd.Series(std_data)

print(std_data_series[:5])

In [ ]:
std_data=np.array(['Ram','Sita','Laxmi','Krishna','Arjun','Madhab'])

std_data_series=pd.Series(std_data)

print(std_data_series[-5:])

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

print(classes_series)

print("\n", classes_series['A'])

In [ ]:
classes_dict={
    "A":["Maths","Science","Physics"],
    "B":["Maths","English"],
    "C":"Chemistry"
}

classes_series=pd.Series(classes_dict)

print(classes_series)

print("\n", classes_series[['A','B']])

In [ ]:
student_series=pd.Series(

    np.array([457,456,540,348,502,480]),
    index=['Ram','Sita','Laxmi','Krishna','Madhab','Arjun'])


student_series[student_series>500]

In [ ]:
series1=pd.Series([10,20,30,40,50])

series2=pd.Series([2,4,6,8,10])

result=series1-series2

print(result)

In [ ]:
sales_series=pd.Series(np.array([200,590,367,678,455]))

sales_series*2

In [ ]:
student_scores=pd.Series([88,92,75,91,85],
                         index=['Alice','Bob','Charlie','David','Eva'])

student_ranks=student_scores.rank()

print("\nStudent Ranks:\n",student_ranks)

In [ ]:
import pandas as pd
import numpy as np

sales_data = pd.Series(
    [250, np.nan, 175, 300, np.nan, 220],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
)

sorted_sales = sales_data.sort_values(ascending=False ,na_position='last')

print("\n Sorted Sales Data (NaNs last):\n", sorted_sales)

In [ ]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                     index=[7,4,3,2,8,9])

sorted_sales=sales_data.sort_index(ascending=True)

print("\nSorted Sales Data(NaNs Last):\n",sorted_sales)

In [ ]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                      index=[7,4,3,2,8,9])

sales_data.isnull()

In [ ]:
sales_data=pd.Series([250,np.nan,175,300,np.nan,220],
                      index=[7,4,3,2,8,9])

sales_data.notnull()

In [ ]:
week1_sales=np.linspace(start=0,stop=300,num=5)

week2_sales=np.linspace(start=0,stop=400,num=5)

week1_sales_series=pd.Series(data=week1_sales)

week2_sales_series=pd.Series(data=week2_sales)


print(pd.concat([week1_sales_series,week2_sales_series]))

In [ ]:
week1_sales=np.linspace(start=0,stop=300,num=5)

week2_sales=np.linspace(start=0,stop=400,num=5)

week1_sales_series=pd.Series(data=week1_sales)

week2_sales_series = pd.Series(data = week2_sales)

print(week1_sales_series)

print(week2_sales_series)

In [ ]:
week1_sales=np.linspace(start=0,stop=300,num=5)

week2_sales=np.linspace(start=0,stop=400,num=5)

week1_sales_series=pd.Series(data=week1_sales)

week2_sales_series = pd.Series(data = week2_sales)

week1_sales_series.append(week2_sales_series)

In [ ]:
machiene_learning=['Python','Numpy','Pandas','MatplotLib','ML Algorithm','Statistics']

df=pd.DataFrame(machiene_learning)

df

In [ ]:
#create a dataframe from a list of list
course_list=[['ML Foundation',8000],['IoT',5000],['Web Development',6500],['O level','4500']]

df=pd.DataFrame(course_list,columns=['Course','Fee'])

df

In [ ]:
#creating dataframe from a dictionary

data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[24,27,22],
    'City':['New York','Los Angeles','Chicago']
    }

df=pd.DataFrame(data)

df

In [ ]:
#creating dataframe with index  from a dictionary

data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[24,27,22],
    'City':['New York','Los Angeles','Chicago']
    }

df=pd.DataFrame(data,index=['A1','A2','A3'])

df

In [ ]:
#Create a dataframe from a list of dictionaries

sales_data=[
    {'Date':'2025-06-01','Product':'Laptop','Units Sold':5,'Revenue':50000},
    {'Date':'2025-06-01','Product':'Mouse','Units Sold':25,'Revenue':2500},
    {'Date':'2025-06-02','Product':'Keyboard','Units Sold':15,'Revenue':7500},
    {'Date':'2025-06-02','Product':'Monitor','Units Sold':7,'Revenue':21000}
]

df=pd.DataFrame(sales_data)

df

         Data   Product  Units Sold  Revenue
0  2025-06-01    Laptop           5    50000
1  2025-06-01     Mouse          25     2500
2  2025-06-02  Keyboard          15     7500
3  2025-06-02   Monitor           7    21000